:root {
  --cream: #E9E7CF;
  --navy: #0B1F3C;
  --teal: #04B09F;
  --orange: #E46328;
  --light-blue: #639FD9;
  --green: #87962F;
  --blue: #2B66B1;
  --gold: #D6A829;
  --magenta: #AB2D71;
  --baby-blue: #B8D9ED;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  color: var(--teal);
  border: 1px solid var(--teal);
  font-weight: bold;
  font-size: 80%;
  line-height: 4;
  padding: 0 1.5em;
}

button:hover {
  background: var(--teal);
  color: var(--cream);
}

.bg-cream { background-color: var(--cream); }
.bg-navy { background-color: var(--navy); }
.bg-teal { background-color: var(--teal); }
.bg-orange { background-color: var(--orange); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-green { background-color: var(--green); }
.bg-blue { background-color: var(--blue); }
.bg-gold { background-color: var(--gold); }
.bg-magenta { background-color: var(--magenta); }
.bg-baby-blue { background-color: var(--baby-blue); }

.fg-cream { color: var(--cream); }
.fg-navy { color: var(--navy); }
.fg-teal { color: var(--teal); }
.fg-orange { color: var(--orange); }
.fg-light-blue { color: var(--light-blue); }
.fg-green { color: var(--green); }
.fg-blue { color: var(--blue); }
.fg-gold { color: var(--gold); }
.fg-magenta { color: var(--magenta); }
.fg-baby-blue { color: var(--baby-blue); }